<!DOCTYPE html>
<html>
<head>
	<title>BCA StuCo</title>
	<meta name="viewport" content="width=device-width,initial-scale=1">
	<link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
	<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
	<link href='https://cdnjs.cloudflare.com/ajax/libs/pagePiling.js/1.5.4/jquery.pagepiling.min.css'>
	<link rel="shortcut icon" href='/images/bw-torch.jpg'>
</head>
<body>
<nav class='navbar header1'>
	<img id='torch' src='/images/bw-torch.jpg'>
	<ul id='navbar-item-list'>
		<a href='/ideas/new'><li class='nav-item'><h5>CONNECT</h5></li></a>
		<li id='1' class='nav-item'><h5>MEET US</h5></li>
		<li id='2' class='nav-item'><h5>ANNOUNCEMENTS</h5></li>
		<li id='3' class='nav-item'><h5>PHOTOS</h5></li>
		<li id='4' class='nav-item'><h5>MINUTES</h5></li>
	</ul>
	<a href="https://drive.google.com/open?id=1op3Pb9OFYzVFP2U03By9oTyHIoXfYjBcfNy7t9toTBU" target="_blank"><button id='month-in-review'><h5>Get Month in Review</h5></button></a>
</nav>