<% include electionheader %>

<div class="video-wrapper">
	<h3 class="nametag">Josiah Park</h3>
	<iframe width="560" height="315" src="https://www.youtube.com/embed/H6pzg8E1ICM" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

	<h3 class="nametag">June Lee</h3>
	<iframe width="560" height="315" src="https://www.youtube.com/embed/-wOA3I6VxOg" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

	<h3 class="nametag">Lukas Harmeyer</h3>
	<iframe width="560" height="315" src="https://www.youtube.com/embed/ZjLW0wm8WgI" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>

</body>