<% include electionheader %>

<div class="video-wrapper">
	<h3 class="nametag">Devon Nassau</h3>
	<iframe width="560" height="315" src="https://www.youtube.com/embed/GK11k0j3QGw" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
	
	<h3 class="nametag">Diana Mei</h3>
	<iframe width="560" height="315" src="https://www.youtube.com/embed/4V3phcPWiNk" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

	<h3 class="nametag">Enya Goonetilleke</h3>
	<iframe width="560" height="315" src="https://www.youtube.com/embed/Hyeyn0VU3tc" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

	<h3 class="nametag">Genevieve Simmons</h3>
	<iframe width="560" height="315" src="https://www.youtube.com/embed/OZzCbUpOPaM" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

	<h3 class="nametag">Roni Feldman</h3>
	<iframe width="560" height="315" src="https://www.youtube.com/embed/GvEV9NgCRYE" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>

</body>