<% include partials/header2 %>



<a href='/minutes/new'><button>New Minute</button></a>
<a href='/ideas/all'><button>View Feedback</button></a>
<a href='/announcement/new'><button>Add Announcement</button></a>
<a href='/logout'><button>Logout</button></a>



<% include partials/footer %>