<!DOCTYPE html>
<html class="election-bg">
<head>
	<title>BCA StuCo</title>
	<meta name="viewport" content="width=device-width,initial-scale=1">
	<link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
	<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
	<link href='https://cdnjs.cloudflare.com/ajax/libs/pagePiling.js/1.5.4/jquery.pagepiling.min.css'>
	<link rel="shortcut icon" href='/images/bw-torch.jpg'>
</head>
<body>
<nav class='navbar election-header'>
	<img id='torch' src='/images/bw-torch.jpg'>
	<ul id='navbar-item-list'>
		<a href='/president'><li class='nav-item'><h5>President</h5></li></a>
		<a href='/vp'><li class='nav-item'><h5>VP</h5></li></a>
		<a href='/secretary'><li class='nav-item'><h5>Secretary</h5></li></a>
		<a href='/treasurer'><li class='nav-item'><h5>Treasurer</h5></li></a>
		<a href='/2022'><li class='nav-item'><h5>2022</h5></li></a>
		<a href='/2023'><li class='nav-item'><h5>2023</h5></li></a>
	</ul>
</nav>