<% include partials/header3 %>



<div class='rep-page'>

<div class='rep-card'>
	<img class='rep-img' src='/images/reps/president.jpg'>
	<div class='rep-content'>
		<h3 class='rep-name'>Jason Ping</h3>
		<h4 class='rep-roll'>PRESIDENT</h4>
		<p>Jason is a junior in AEDT and this is his 4th term in StuCo. He’s an avid member of MUN and loves photography. An extrovert by nature, Jason’s always happy to meet new people!</p>
		<h4 class='rep-email'>jaspin20@bergen.org</h4>
	</div>
</div>

<div class='rep-card'>
	<img class='rep-img' src='/images/reps/vp.jpg'>
	<div class='rep-content'>
		<h3 class='rep-name'>Sarah McIlroy</h3>
		<h4 class='rep-roll'>VICE PRESIDENT</h4>
		<p>Sarah is a junior in AVPA, and this is her third term on StuCo.  Whether it be in Model UN, debate, choir, theatre, ClassCo, StuCo, or in the halls of BCA, Sarah loves to work with others and lend a helping hand!</p>
		<h4 class='rep-email'>sarmci20@bergen.org</h4>
	</div>
</div>

<div class='rep-card'>
	<img class='rep-img' src='/images/reps/secretary.jpg'>
	<div class='rep-content'>
		<h3 class='rep-name'>Vivian Tan</h3>
		<h4 class='rep-roll'>SECRETARY</h4>
		<p>Vivian is an AAST sophomore, and she’s ready to put her OCD to good use during her third term on StuCo. She loves traveling and is a big fan of GIFs (if you haven’t noticed from the @bca.stuco insta story).</p>
		<h4 class='rep-email'>vivtan21@bergen.org</h4>
	</div>
</div>

<div class='rep-card'>
	<img class='rep-img' src='/images/reps/treasurer.jpg'>
	<div class='rep-content'>
		<h3 class='rep-name'>Leena Memon</h3>
		<h4 class='rep-roll'>TREASURER</h4>
		<p>Leena is an AEDT sophomore and this is her second term on StuCo. She’s outgoing, kindhearted, and incredibly hardworking. If you have questions about anything or everything she’s your go-to girl!</p>
		<h4 class='rep-email'>leemem21@bergen.org</h4>
	</div>
</div>

<div class='rep-card'>
	<img class='rep-img' src='/images/reps/webmaster.jpg'>
	<div class='rep-content'>
		<h3 class='rep-name'>Alex Katopodis</h3>
		<h4 class='rep-roll'>WEBMASTER</h4>
		<p>Alex is a junior in ATCS and this is his second term on StuCo.  He loves making websites, fishing, playing the guitar, and built the website you're on now!</p>
		<h4 class='rep-email'>alekat20@bergen.org</h4>
	</div>
</div>

<div class='rep-card'>
	<img class='rep-img' src='/images/reps/nasc.jpg'>
	<div class='rep-content'>
		<h3 class='rep-name'>Anthony Lekan</h3>
		<h4 class='rep-roll'>NASC DIRECTOR</h4>
		<p>Anthony is a sophomore in ATCS and this is his 1st year on StuCo. He’s a dedicated member of BCA Lemon Club and passionate for Computer Science. Anthony’s always available to hear you out and address your concerns!</p>
		<h4 class='rep-email'>antlek21@bergen.org</h4>
	</div>
</div>

<div class='rep-card'>
	<img class='rep-img' src='/images/reps/art.jpg'>
	<div class='rep-content'>
		<h3 class='rep-name'>Maya Iwabuchi</h3>
		<h4 class='rep-roll'>ARTISTIC DIRECTOR</h4>
		<p>Maya is an AVPA Junior, serving her 3rd term. She always packages files, and her favorite colors are CMYK. She encourages you to Be Your Best Self and message her if you need a pal!</p>
		<h4 class='rep-email'>mayiwa20@bergen.org</h4>
	</div>
</div>

<div class='rep-card'>
	<img class='rep-img' src='/images/reps/pr.jpg'>
	<div class='rep-content'>
		<h3 class='rep-name'>Carissa Liu</h3>
		<h4 class='rep-roll'>PR DIRECTOR</h4>
		<p>Carissa is an AMST sophomore and is excited to serve her first year on council! She is a major foodie, so if you want to eat or get any restaurant recs, feel free to message her!</p>
		<h4 class='rep-email'>carliu21@bergen.org</h4>
	</div>
</div>

<div class='rep-card'>
	<img class='rep-img' src='/images/reps/junior-vp.jpg'>
	<div class='rep-content'>
		<h3 class='rep-name'>Miki Radan</h3>
		<h4 class='rep-roll'>JUNIOR LIAISON</h4>
		<p>Miki is a junior in AVPA and this her first term in StuCo. She loves being a part of Relay, the school’s theatre arts, yearbook, and SPARK. If you need anything she loves talking and getting to know new people, especially if you have cute puppy photos!</p>
		<h4 class='rep-email'>milrad20@bergen.org</h4>
	</div>
</div>

<div class='rep-card'>
	<img class='rep-img' src='/images/reps/freshmen-vp.jpg'>
	<div class='rep-content'>
		<h3 class='rep-name'>Jooeun Lee</h3>
		<h4 class='rep-roll'>FRESHMEN LIAISON</h4>
		<p>Jooeun (pronounced June like the month) is a freshman in AEDT and the vice president of class council. She is passionate about food, playing the flute, sparring, and making BCA a happier place!</p>
		<h4 class='rep-email'>joolee@bergen.org</h4>
	</div>
</div>

<div class='rep-card'>
	<img class='rep-img' src='/images/reps/soph-rep-2.jpg'>
	<div class='rep-content'>
		<h3 class='rep-name'>Aidan Connolly</h3>
		<h4 class='rep-roll'>2021 REP</h4>
		<p>Aidan is a sophomore in ATCS, and this is his first term in StuCo. He enjoys staying active, being with friends, and helping others. Don’t be afraid to approach him and ask questions or provide insights!</p>
		<h4 class='rep-email'>aidcon21@bergen.org</h4>
	</div>
</div>

<div class='rep-card'>
	<img class='rep-img' src='/images/reps/soph-rep-1.jpg'>
	<div class='rep-content'>
		<h3 class='rep-name'>Michelle Burger</h3>
		<h4 class='rep-roll'>2021 REP</h4>
		<p>This is Michelle’s first year in StuCo, and she is so excited to help out around BCA! During her free time (which there isn’t much of :’), she loves to make films, hang out with friends, and help people out!</p>
		<h4 class='rep-email'>micbur21@bergen.org</h4>
	</div>
</div>

<div class='rep-card'>
	<img class='rep-img' src='/images/reps/freshmen-rep-1.jpg'>
	<div class='rep-content'>
		<h3 class='rep-name'>Dash Beavers</h3>
		<h4 class='rep-roll'>2022 REP</h4>
		<p>Dash, a freshman in ABF, is serving his first term on StuCo. He enjoys playing ping pong, eating, and meeting new people. If you ever need help, feel free to come up to him in the halls or lower cafe.</p>
		<h4 class='rep-email'>dasbea22@bergen.org</h4>
	</div>
</div>

<div class='rep-card'>
	<img class='rep-img' src='/images/reps/freshmen-rep-2.jpg'>
	<div class='rep-content'>
		<h3 class='rep-name'>Grace Chu</h3>
		<h4 class='rep-roll'>2022 REP</h4>
		<p>Meet Grace Chu, a freshman in the ABF. She loves to debate and can’t wait to use this passion to advocate for the student body. She is always ready to listen to new ideas and would love to hear them!</p>
		<h4 class='rep-email'>grachu22@bergen.org</h4>
	</div>
</div>

</div>



<% include partials/footer %>