<% include electionheader %>

<div class="video-wrapper">
	<h3 class="nametag">Dash Beavers</h3>
	<iframe width="560" height="315" src="https://www.youtube.com/embed/jHElLxlwZZE" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

	<h3 class="nametag">Grace Chu</h3>
	<iframe width="560" height="315" src="https://www.youtube.com/embed/7TnGSsRO42w" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

	<h3 class="nametag">Irene Kim</h3>
	<iframe width="560" height="315" src="https://www.youtube.com/embed/rTkEFBNuWjk" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>

</body>