<% include partials/header3 %>



<div class='feedback'>
	<div class='feedback-box'>
		<div class='black-box'>
			<h2 class='minute-date'><%= minute.date %></h2>
		</div>
		<p class='minute-text show-wrapper'><%= minute.content %></p>
	</div>
</div>



<% include partials/footer %>