<% include partials/header3 %>



<div class='feedback'>
	<div class='feedback-box'>
		<div class='black-box'>
				<h2 class='minute-date'><%= announcement.date %></h2>
		</div>
		<p class='minute-text asubject'><%= announcement.subject %></p>
		<p class='minute-text show-wrapper'><%= announcement.content %></p>
	</div>
</div>



<% include partials/footer %>