<% include electionheader %>

<div class="video-wrapper">
	<h3 class="nametag">Bryant Kye</h3>
	<iframe width="560" height="315" src="https://www.youtube.com/embed/56CMuLLq7VM" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

	<h3 class="nametag">Sam Modlinger</h3>
	<iframe width="560" height="315" src="https://www.youtube.com/embed/HN7YsptBdxM" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>

</body>