<% include electionheader %>

<div class="video-wrapper">
	<h3 class="nametag">Aidan Connolly</h3>
	<iframe width="560" height="315" src="https://www.youtube.com/embed/p4W-RrtGLxY" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
	
	<h3 class="nametag">Michael Gomez</h3>
	<iframe width="560" height="315" src="https://www.youtube.com/embed/Me8aUTPohQk" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
	
	<h3 class="nametag">Vivian Tan</h3>
	<iframe width="560" height="315" src="https://www.youtube.com/embed/EkljjK6u3Mg" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>

</body>